.create-content {
    box-sizing: border-box;
    padding-top: 15px;
    min-height: 88vh;
}

.line {
    width: 100vw;
    height: 1px;
    margin: 10px 0;
    background-color: #888888;
}

.create-answer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-input {
    margin: 0 25px;
    font-weight: 600;
}

.create-input > input {
    margin-bottom: 0;
}

.create-input > div {
    margin-left: 5px;
}

.create-input > input {
    width: 25vh;
    padding: 3px 5px;
    border: 2px solid #888888;
    border-radius: 3px;
    background-color: #E5DDC5;
}

.create-input > input:focus {
    outline: none;
    border: specify yours;
 }

 .create-answer {
    display: flex;
 }

.create-input > input[type="checkbox"] {
    accent-color: #B3C8CF;
    transform: scale(1.5);
}

 .create-cb {
    text-align: center;
 }

 .create-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid #888888;
    border-radius: 5px;
    background-color: #BED7DC;
}