.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 12vh;
    border-bottom: 2px solid #888888;
    background-color: #E5DDC5;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    font-size: 75px;
}

.header-text {
    font-size: 25px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 15px;
    cursor: pointer;
}

.header-quizz {
    display: flex;
    align-items: center;
}

.header-text:hover {
    color: #B3C8CF;
}

.header-profil {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.header-profil-logo {
    width: 50px;
    height: 50px;
    border: 2px solid #888888;
    border-radius: 10px;
    background-color: #B3C8CF;
    cursor: pointer;
}