.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login-left {
    display: flex;
    width: 70%;
    height: 100vh;
    border-right: 2px solid #888888;
}

.login-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    background-color: #E5DDC5;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40vh;
    height: 40vh;
    padding-bottom: 10px;
    background-color: #E5DDC5;
    border-radius: 7px;
}

.login-form-title {
    text-align: center;
    color: #B3C8CF;
    font-weight: 600;
    font-size: 50px;
    margin: 1.5vh 0 2vh 0;
}

.login-form-entry {
    font-weight: 600;
}

.login-form-entry>.name {
    margin-left: 5px;
}

.login-form-entry>input {
    width: 25vh;
    margin-bottom: 2vh;
    padding: 3px 5px;
    border: 2px solid #888888;
    border-radius: 3px;
    background-color: #F1EEDC;
}

.login-form-entry>input:focus {
    outline: none;
    border: specify yours;
}

.login-form button {
    padding: 5px 10px;
    margin-top: 10px;
    border: 2px solid #888888;
    border-radius: 5px;
    background-color: #BED7DC;
    font-size: medium;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #B3C8CF;
}

.toRegister {
    margin-top: 5px;
    color: #888888;
}