html, body, #root, .App {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Indie Flower";
}

.App {
  background-color: #F1EEDC;
}

button {
  font-family: "Indie Flower";
  font-weight: 600;
}

input {
  font-family: "Indie Flower";
}

a {
  text-decoration: none;
}